
/* fonts/ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
/* common styles */

body{
    font-family: 'Poppins', sans-serif;
    background: #AAAAAA;
}
main{
    background-color: white;
}
h3{
    width: 243px;
    height: 52px;
    margin-left: 120px;
    font-size: 24px;
}

/* ------------------------jorney as influencer-------------- */
h1{
    font-size: 52px;
}
p{
    font-size: 16px;
}
.left-influence{
    width: 500px;
    height: 250px;
    margin-left: 120px;
    margin-top: 40px;
}
.right-influence img{
    width: 480px;
    height: 500px;
    margin-top: 5px;
    margin-left: 40px;
}
.left-influence{
    flex: 1;
}
.right-influence{
    flex: 1;
}
.container{
    display: flex;
    margin: 0 auto;

}
.link{
    border: 1px  solid;
    border-radius: 41px;
    background-color: #da9db3;
    padding:10px 24px;
    color: white;
    font-size: 16px;
    margin-top: 16px;

}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}
.second{
    width: 1047px;
    height: 1662px;
    padding:100px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 350px;
}
.section-title{
    text-align: center;
}
.collection img{
    width: 300px;
    height: 256px;

}
h2{
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 30px;
}
.price{
    font-size: 24px;
    padding-top: 2px;

}
span{
    margin-left: 8px;
    color: #5E6366;
    font-size: 14px;

}
.fa-star{
    color: #FB8200;
}
.fa-star.empty{
    color: darkgrey;
}
.text{
    font-size: 14px;
    color: #787885;
}
.collection{
    border: 2px solid cornsilk;
    border-radius: 5px;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-items: center

}
.new-link{
    text-decoration: none;
    width: 75px;
    height: 24px;
    color: #da9db3;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 90%;
    line-height: 24px;
    
}